@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur le site de netflixe pour le linge</h1>
    <p>Vous pouvez commander plein de linges cool ici :D</p>
</div>
