@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    La politique de confidentialité d'un site web est un écrit qui explique aux visiteurs ou utilisateurs d'un site web les renseignements personnels que le site collecte sur eux, lorsqu'ils naviguent ses pages. Ce document explique aussi comment et pour quelles raisons ces renseignements sont collectés, ainsi que les droits dont les utilisateurs ou visiteurs disposent par rapport à ces pratiques.

    On entend par "renseignements personnels" toute information permettant d'identifier un particulier, notamment: les noms, prénoms, adresses postales et électroniques, numéros de téléphone, de carte de crédit, de sécurité sociale ou d'assurance sociale, la date de naissance, etc.
</p>

<p>Texte voler <a href="https://www.wonder.legal/fr-ca/modele/politique-confidentialite-site-web">Ici</a>.</p>
